
<div class="profile">

    <h4>Profile:</h4>
<!--<input type="text"   (input)="changeSearchValue($event)">>-->
<input type="text" [(ngModel)]="searchValue" placeholder="enter ur name"> <span>You searched For '{{searchValue}}'</span><br> <br>
<input type="number" [(ngModel)]="searchValues" placeholder="enter ur age"> <span>You searched For '{{searchValues}}'</span><br> <br>

<input type="text" [(ngModel)]="searchValue1" placeholder="enter ur dep"> <span>You searched For '{{searchValue1}}'</span><br> <br>
<input type="text" [(ngModel)]="searchValue2 " placeholder="enter ur place"><span>You searched For '{{searchValue2}}'</span><br> <br>

</div>